body {
	background-color: #000;
	color: #888;
	font-family: Helvetica;
	line-height: 26px;
	margin: 0px;
	overflow: hidden;
}
		
		
#container {
	box-sizing: border-box;
	height: 100%;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}